/* Styling Only Related To ALL Pages */

body {
  padding-top: 30px;
  margin-left: 0px;
}
/* ⬆⬆⬆⬆ Nav Bar Styling 
~~~~~ Taken From: 
https://www.w3schools.com/css/css_navbar_horizontal.asp */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000000;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: "Asset", serif;
  font-weight: 400;
  font-style: normal;

}

li a:hover:not(.active) {
  background-color: rgb(255, 255, 255);
  color:#000000
}

.active {
  background-color: rgb(243, 215, 59);
   
}

h1 {
  width: 100%;
}

.leftdog {
  display:flex;
  justify-content: center;
  align-items: center;
  
}

.homeimage {
  display:flex;
  justify-content: center;
  align-items: center;
}

.homeimage img{
  width:25%;
  border-color: #000000;
  border-style: groove;
}

.image__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  color: white;
  font-family: "Asset", serif;
  font-weight: 400;
  font-style: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.25s;
}

.image__overlay:hover {
  opacity: 1;
}
.image__title {
  font-size: 2em;
  font-weight: bold;
}
.image__description {
  font-size: 1.25em;
  margin-top: 0.25em;
}
.title1 {
background-color: rgb(0, 0, 0,0);
color: rgb(0, 0, 0);
  text-align: center;
 font-family: "Asset", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
}

.whom {
font-family: "Asset", serif;
  font-weight: 400;
  font-style: normal;
  background-color: rgb(236, 236, 236);
  display:flex;
  justify-content: center;
  align-items: center;
  margin-inline-start: 100px;
  margin-inline-end: 100px;
  border-color: #000000;
  border-style:double;
  border-width: 10px;
  letter-spacing: 6px;
  text-align: center;
}
.me {
  background-color: rgb(236, 236, 236);
  border-color: #000000;
  border-style:double;
  border-width: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.desc {
font-family: "Asset", serif;
  font-weight: 400;
  font-style: normal;
  background-color: rgb(236, 236, 236);
  display:flex;
  justify-content: center;
  align-items: center;
  margin-inline-start: 100px;
  margin-inline-end: 100px;
  border-color: #000000;
  border-style:double;
  border-width: 10px;
  text-align: center;

}